:root {
  scroll-behavior: smooth;

  --ff-primary: "Roboto", sans-serif;

  --fs-heading-1: 5rem;
  --fs-heading-2: 2rem;
  --fs-heading-3: 1.25rem;

  --fs-body-l: 1.125rem;

  /* Colour scheme found at */
  /* https://colorhunt.co/palette/952323a73121dad4b5f2e8c6 */

  --clr-primary-500: #952323;
  --clr-primary-400: #a73121;
  --clr-neutral-500: #dad4b5;
  --clr-neutral-400: #f2e8c6;

  --box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  --nice-shadow: 0px 0px 2.2px -4px rgba(0, 0, 0, 0.048),
    0px 0px 5.3px -4px rgba(0, 0, 0, 0.069),
    0px 0px 10px -4px rgba(0, 0, 0, 0.085),
    0px 0px 17.9px -4px rgba(0, 0, 0, 0.101),
    0px 0px 33.4px -4px rgba(0, 0, 0, 0.122),
    0px 0px 80px -4px rgba(0, 0, 0, 0.17);

  --padding: 1rem;
  --container-min-width: 300px;
  --container-max-width: 1300px;

  --grid: minmax(var(--padding), 1fr)
    minmax(var(--container-min-width), var(--container-max-width))
    minmax(var(--padding), 1fr);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: var(--ff-primary);

  background-color: var(--clr-neutral-500);
}

h1 {
  font-size: var(--fs-heading-1);
  font-weight: bold;
}

h2 {
  font-size: var(--fs-heading-2);
  font-weight: bold;
}

h3 {
  font-size: var(--fs-heading-3);
  font-weight: bold;
}

header {
  /* grid-column: 2 / -2;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  padding: 2rem; */
  background-color: var(--clr-primary-500);
  display: grid;
  grid-template-columns: var(--grid);
  align-items: center;
  height: 60px;
  color: var(--clr-neutral-400);
}

.logo {
  font-size: 1.75rem;
  grid-column: 2 / -2;
  grid-row: 1;

  padding-block: 1rem;
}

.header__nav {
  grid-column: 2 / -2;
  grid-row: 1;
  margin-left: auto;
  display: flex;
  font-size: var(--fs-body-l);
}

.header__nav .nav-link {
  text-decoration: none;
  transition: background-color 250ms ease-in-out;
  padding: 1rem;
}

.header__nav .nav-link:hover {
  background-color: var(--clr-primary-400);
}

.hero {
  color: var(--clr-primary-500);
  display: grid;
  grid-template-columns: var(--grid);
  align-items: center;
  min-height: calc(100vh - 60px);
  background-image: url(images/salad-bowl-sm.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1 {
  grid-column: 2 / 3;
}

.hero__icon {
  font-size: 5rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  text-decoration: none;
  transition: scale 250ms ease-in-out;
}

.hero__icon:hover {
  scale: 1.1;
}

section {
  display: grid;
  grid-template-columns: var(--grid);
  background: var(--clr-primary-400);
  color: var(--clr-neutral-400);
}

.sweet {
  display: grid;
  grid-column: 2 / -2;
  padding-block: 2rem;
}

.section__title {
  margin-bottom: 1em;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.recipe-card {
  --transition-duration: 500ms;
  --transition-type: ease-in-out;

  /* max-width: 300px; */
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--clr-neutral-400);
  color: black;
  box-shadow: var(--nice-shadow);
}

.recipe-card__img {
  width: 100%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
  transition: scale var(--transition-duration) var(--transition-type);
  transform-origin: bottom;

  &:hover {
    scale: 1.2;
  }
}

.recipe-card__body {
  padding: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid var(--clr-primary-500);
  background-color: var(--clr-primary-500);
  padding: 0.5rem 1rem;
  border-radius: 99vw;
  color: var(--clr-neutral-400);
  font-weight: bold;
  transition: background-color calc(var(--transition-duration) / 2)
    var(--transition-type);
}

.btn:hover {
  background-color: transparent;
  color: var(--clr-primary-500);
}

.stats {
  display: flex;
  font-size: 10px;
  gap: 0.5rem;
}

.stat {
  display: flex;
  /* gap: 0.5em; */
}

.stat i {
  margin-right: 0.25rem;
}

/* 
footer {

} 
*/

.recipe-page {
  --fs-heading-1: 2rem;
  --fs-heading-2: 1.5rem;
  --spacer: 2rem;

  display: grid;
  gap: var(--spacer);
  padding: var(--spacer);
  grid-template-columns: repeat(6, 1fr);
  max-width: 900px;
  margin-inline: auto;
}

.small-box,
.title-box,
.large-box {
  background: var(--clr-neutral-400);
  padding: var(--spacer);
}

.recipe-page img {
  grid-column: 2 / -1;
  grid-row: 1 / 5;
  place-self: stretch;
  object-fit: cover;
}

.small-box {
  grid-column: 1 / 2;
  display: grid;
  place-content: center;
  text-align: center;
}

.small-box:nth-of-type(1) {
  grid-row: 1 / 2;
}

.small-box:nth-of-type(2) {
  grid-row: 2 / 3;
}

.small-box:nth-of-type(3) {
  grid-row: 3 / 4;
}

.small-box:nth-of-type(4) {
  grid-row: 4 / 5;
}

.small-box:nth-of-type(4) div {
  font-size: 15px;
}

.title-box {
  grid-column: 1 / -1;
}

.large-box h2 {
  margin-bottom: 2rem;
}

.preparation {
  grid-column: 1 / span 3;
}

.preparation p:not(:first-of-type) {
  margin-top: 1rem;
}

.ingredients {
  grid-column: 4 / -1;
}

.recipe-page ul {
  margin-left: calc(var(--spacer) / 2);
}
.recipe-page li + li {
  margin-top: 1rem;
}

.recipe-page > * {
  border-radius: var(--spacer);
  box-shadow: var(--nice-shadow);
}

@media (max-width: 680px) {
  .recipe-page {
    --spacer: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  .recipe-page img {
    grid-column: 1 / -1;
  }

  .small-box:nth-of-type(1) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .small-box:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
  }

  .small-box:nth-of-type(3) {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }

  .small-box:nth-of-type(4) {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
  }

  .preparation {
    grid-column: 1 / span 2;
  }

  .ingredients {
    grid-column: 3 / -1;
  }

  .recipe-page ul {
    margin-left: 1rem;
  }
}

@media (max-width: 680px) {
  .title-box {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
  }

  .small-box:nth-of-type(1),
  .small-box:nth-of-type(2) {
    grid-row: 6 / 7;
  }

  .small-box:nth-of-type(3),
  .small-box:nth-of-type(4) {
    grid-row: 7 / 8;
  }

  .small-box:nth-of-type(1),
  .small-box:nth-of-type(3) {
    grid-column: 1 / 3;
  }

  .small-box:nth-of-type(2),
  .small-box:nth-of-type(4) {
    grid-column: 3 / 5;
  }

  .ingredients {
    grid-column: 1 / -1;
    grid-row: 8 / 9;
  }

  .preparation {
    grid-column: 1 / -1;
    grid-row: 9 / 10;
  }
}
